---

- name: Get WLAN information from Aruba Central
  hosts: CENTRAL
  vars:
    group_name: "SITE-1"
    ssid_name: "secure"
    date: "{{ lookup('pipe','date +%Y-%m-%d') }}"
    
  tasks:
  
    - name: Fetch SSID details
      uri:
        url: "https://{{ ansible_host }}/configuration/v1/wlan/{{ group_name }}"
        method: GET
        timeout: 60
        headers:
          Content-Type: "application/json"
          Authorization: "Bearer {{ ansible_httpapi_central_access_token }}"
        return_content: yes
      register: ssid_response

    - debug:
        msg: "{{ ssid_response.json }}"
