---

- name: Update Aruba Central WLAN SSID
  hosts: CENTRAL
  vars:
    group_list:
      - "SITE-1"  # Replace with the Aruba Central group name
    wlan:
      type: "employee" # Needed to make the REST request
      essid: "BYOD" # Needed to make the REST request
      ssid: "BYOD"
      vlan: "192"
      # wpa_passphrase: ""
      # wpa_passphrase_changed: false
      # opmode: "wpa3-sae-aes"
      bandwidth_limit_peruser_up: "5000"
      bandwidth_limit_peruser_down: "5000"
      # access_rules:
      #   - action: "allow"
      #     service_type: "network"
      #     eport: "53"
      #     sport: "53"
      #     protocol: "dns"
      #     match: "match"
      #     ipaddr: "10.8.0.0"
      #     netmask: "255.255.0.0"
      #   - action: "allow"
      #     service_type: "network"
      #     eport: "123"
      #     sport: "123"
      #     protocol: "ntp"
      #     match: "match"
      #     ipaddr: "10.8.0.0"
      #     netmask: "255.255.0.0"
      #   - action: "allow"
      #     service_type: "network"
      #     eport: "68"
      #     sport: "67"
      #     protocol: "dhcp"
      #     match: "match"
      #     ipaddr: "10.8.0.0"
      #     netmask: "255.255.0.0"
      #   - action: "allow"
      #     service_type: "network"
      #     eport: "53"
      #     sport: "53"
      #     protocol: "dns"
      #     match: "match"
      #     ipaddr: "10.101.0.0"
      #     netmask: "255.255.0.0"
      #   - action: "allow"
      #     service_type: "network"
      #     eport: "123"
      #     sport: "123"
      #     protocol: "ntp"
      #     match: "match"
      #     ipaddr: "10.101.0.0"
      #     netmask: "255.255.0.0"
      #   - action: "allow"
      #     service_type: "network"
      #     eport: "68"
      #     sport: "67"
      #     protocol: "dhcp"
      #     match: "match"
      #     ipaddr: "10.101.0.0"
      #     netmask: "255.255.0.0"
      #   - action: "allow"
      #     service_type: "network"
      #     eport: "any"
      #     sport: "any"
      #     protocol: "any"
      #     match: "match"
      #     ipaddr: "any"
      #     netmask: "any"

  tasks:

    - name: Update SSID configuration
      uri:
        url: "https://{{ ansible_host }}/configuration/full_wlan/{{ item }}/{{ wlan.ssid }}"
        #url: "https://{{ ansible_host }}/configuration/v2/wlan/{{ item }}/{{ wlan.ssid }}"
        method: PATCH
        timeout: 60
        headers:
          Authorization: "Bearer {{ ansible_httpapi_central_access_token }}"
          Content-Type: "application/json"
        body_format: json
        body: 
          wlan: "{{ wlan }}"
        status_code: 200
      register: update_response
      loop: "{{ group_list }}"