---

- name: Update SSID Passphrase
  hosts: CENTRAL
  vars:
    group_list:
      - "SITE-1"  # Replace with the Aruba Central group name
    wlan:
      type: "employee" # Needed to make the REST request
      essid: "Guest" # Needed to make the REST request
      ssid: "Guest"
      vlan: "192"
      wpa_passphrase: "Skeletons"
      wpa_passphrase_changed: true
      opmode: "wpa3-sae-aes"

  tasks:

    - name: Update SSID configuration
      uri:
        url: "https://{{ ansible_host }}/configuration/v2/wlan/{{ item }}/{{ wlan.ssid }}"
        method: PATCH
        timeout: 60
        headers:
          Authorization: "Bearer {{ ansible_httpapi_central_access_token }}"
          Content-Type: "application/json"
        body_format: json
        body:
          wlan: "{{ wlan }}"
        status_code: 200
      register: update_response
      loop: "{{ group_list }}"

