---

- name: Enable SNMPv3
  hosts: network
  gather_facts: false

  tasks:

    - name: Enable SNMPv3
      aruba_config:
        lines:
          - snmpv3 enable
          - Bry@nC0!!
          - Bry@nC0!!
          - n
          - y
          - snmpv3 user checkmk auth md5 Bry@nC0!! priv Bry@nC0!!
          - snmpv3 group managerauth user checkmk sec-model ver3
          - snmpv3 only
          - end
          - wr mem
        save_when: always



