---

- name: Retrieve port status
  hosts: network
  gather_facts: false
  vars:
    date: "{{ lookup('pipe','date +%Y-%m-%d') }}"
    
  tasks:

    - name: Create backup directory using today's date
      file:
        path: "{{ log_path }}/{{ date }}"
        state: directory

    - name: ArubaOSS
      aruba_command:
        commands:
          - sh int status
      when: ansible_network_os == "aruba"
      register: status

    - name: Export status to log files
      copy:
        content: "{{ status.stdout[0] }}"
        dest: "{{ log_path }}/{{ date }}/{{ inventory_hostname }}_int_status.csv"