---

- name: Replace stale NTP servers
  hosts: arubaoss
  gather_facts: false

  tasks:

    - name: Remove the old entries
      aruba_config:
        lines:
          - no ntp server 216.239.35.4
          - no ntp server 216.239.35.8
        save_when: always


- name: Correct NTP servers
  hosts: SWITCH-1
  gather_facts: false

  tasks:

    - name: Add appropriate NTP
      aruba_config:
        lines:
          - ntp server {{ dns_servers[0] }}
          - ntp server {{ dns_servers[1] }}
        save_when: always
