---

- name: Create directory for ARP table export
  hosts: localhost
  gather_facts: false
  vars:
    date: "{{ lookup('pipe','date +%Y-%m-%d') }}"

  tasks:

    - name: Create logging directory using today's date
      file:
        path: "{{ log_path }}/{{ date }}"
        state: directory


- name: Export ARP table for ArubaOS
  hosts: routers:&arubaoss
  gather_facts: false
  vars:
    date: "{{ lookup('pipe','date +%Y-%m-%d') }}"

  tasks:

    - name: ArubaOS
      aruba_command:
        commands: sh arp
      when: ansible_network_os == "aruba"
      register: results

    - name: output
      debug:
        var: results

    - name: Export ARP table
      copy:
        # content: "{{ results.stdout | replace('\\n', '\n') }}"
        # content: "{{ results.stdout[0].split('\n')[3:] | join('\n') }}"
        # content: |
        #   IP Address,MAC Address,Type,Port
        #   {% for line in results.stdout[0].split('\n')[4:] %}
        #   {% set parts = line.split() %}
        #   {% if parts | length >= 4 %}
        #   {{ parts[0] }},{{ parts[1] }},{{ parts[2] }},{{ parts[3] }}
        #   {% endif %}
        #   {% endfor %}
        # content: |
        #   IP Address,MAC Address
        #   {% for line in results.stdout[0].split('\n')[4:] %}
        #   {% set parts = line.split() %}
        #   {% if parts | length >= 2 %}
        #   {{ parts[0] }},{{ parts[1] }}
        #   {% endif %}
        #   {% endfor %}
        content: |
          IP Address,MAC Address
          {% for line in results.stdout[0].split('\n')[4:] %}
          {% set parts = line.split() %}
          {% if parts | length >= 2 %}
          {% set raw_mac = parts[1].replace(':', '').replace('-', '') %}
          {% set norm_mac = raw_mac[0:2] ~ ':' ~ raw_mac[2:4] ~ ':' ~ raw_mac[4:6] ~ ':' ~ raw_mac[6:8] ~ ':' ~ raw_mac[8:10] ~ ':' ~ raw_mac[10:12] %}
          {{ parts[0] }},{{ norm_mac | lower }}
          {% endif %}
          {% endfor %}
        dest: "{{ log_path }}/{{ date }}/{{ inventory_hostname }}_arp.csv"