---

- name: Find mac address in switches
  hosts: network
  gather_facts: false
  connection: local
  vars:
    mac_addresses:
      - "00:18:85:29:74:D6"
      - "00:18:85:29:74:56"
    csv_path: "../../../source_files/mac_results.csv"

  tasks:

    - name: Normalize MAC addresses
      set_fact:
        normalized_macs: "{{ mac_addresses
                             | map('regex_replace', '[^A-Fa-f0-9]', '')
                             | map('regex_replace', '(.{6})', '\\1-')
                             | map('regex_replace', '-$', '')
                             | map('lower')
                             | list }}"

    - name: Search for MAC address
      aruba_command:
        commands:
          - "show mac-address | include {{ item }}"
      register: printout
      loop: "{{ normalized_macs }}"

    - name: Build result rows (host, mac, interface)
      set_fact:
        mac_results: >-
          {{ (mac_results | default([])) + [{
               'host': inventory_hostname,
               'mac':  item.item,
               'interface': (item.stdout_lines[0]
                              | regex_replace('^(?:[^ ]*\ ){6}([^ ]*) | (\w+$)')
                              | trim)
             }] }}
      when:
        - item.stdout is defined
        - item.stdout != ['']
        - item.stdout_lines | length > 0
      loop: "{{ printout.results }}"

    - name: Debug rows to be written (optional)
      debug:
        var: mac_results
      when: mac_results is defined

    - name: Ensure CSV header exists (once)
      run_once: true
      delegate_to: localhost
      lineinfile:
        path: "{{ csv_path }}"
        create: yes
        line: "host,mac,interface"
        insertafter: BOF
        state: present

    - name: Append rows to CSV
      delegate_to: localhost
      throttle: 1
      lineinfile:
        path: "{{ csv_path }}"
        create: yes
        insertafter: EOF
        line: "{{ item.host }},{{ item.mac }},{{ item.interface }}"
      loop: "{{ mac_results | default([]) }}"
