---

- name: Upgrade ArubaOS image
  hosts: arubaoss
  vars:
    system_image_filename: "ios-123-123.bin"

  tasks:

    - name: Save running config first
      aruba_config:
        save_when: always

    - name: Copy image to device
      aruba_config:
        lines:
          - "copy tftp flash {{ tftp_server }} {{ system_image_filename }}"

    - name: Boot using newly uploaded image file
      aruba_config:
        lines:
          - "boot system flash primary"