hostname {{ inventory_hostname }}
logging {{ logging_server }} {{ logging_protocol}} {{ logging_port }}
logging severity {{ logging_severity }}
timesync ntp
ntp unicast
{% for ntp_server in ntp_servers %}
ntp server {{ ntp_server }}
{% endfor %}
ntp enable
time daylight-time-rule continental-us-and-canada
time timezone -300
ip default-gateway {{ sw_gateway_ip }}
{% for dns_server in dns_servers %}
ip dns server-address {{ dns_server }}
{% endfor %}
snmp-server community "public" unrestricted
{% for vlan in vlans %}
vlan {{ vlans[vlan].id }}
   name "{{ vlans[vlan].name }}"
{% if ('ip_addr' in vlans[vlan]) and (vlan == 'sw_mgmt' or vlan == 'idf_data') %}
   ip address {{ vlans[vlan].ip_addr }} {{ vlans[vlan].subnet_mask }}
   ip address-helper {{ dhcp_server }}
{% else %}
   no ip address
{% endif %}
{% if 'tagged' in vlans[vlan] %}
   tagged {{ vlans[vlan].tagged }}
{% else %}
{% endif %}
{% if 'untagged' in vlans[vlan] %}
   untagged {{ vlans[vlan].untagged }}
{% else %}
{% endif %}
   exit
{% endfor %}
tftp server {{ tftp_server }}
loop-protect 1-48
device-identity name "VOIP-Phone"
   lldp sys-name "Polycom"
   exit
device-profile name "Phone-Profile"
   untagged-vlan {{ vlans.idf_data.id }}
   tagged-vlan {{ vlans.voip.id }}
   exit
device-profile device-type "VOIP-Phone"
   associate "Phone-Profile"
   enable
   exit
device-profile name "ArubaAP"
   untagged-vlan {{ vlans.ap_mgmt.id }}
   tagged-vlan {{ vlans.secure.id }},{{ vlans.guest.id }}
   exit
device-profile type "aruba-ap"
   associate "ArubaAP"
   enable
   exit