ansible==10.4.0
ansible-core==2.17.4
bcrypt==4.2.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
cryptography==43.0.1
distlib==0.3.8
docopt==0.6.2
filelock==3.16.1
future==1.0.0
idna==3.10
Jinja2==3.1.4
MarkupSafe==2.1.5
netmiko==4.4.0
ntc_templates==7.0.0
packaging==24.1
pan-os-python==1.12.1
pan-python==0.17.0
pan-sdk-python==1.0.1
panos-upgrade-assurance==0.3.0
paramiko==3.5.0
pbr==6.1.0
platformdirs==4.3.6
prompt_toolkit==3.0.48
pycparser==2.22
pyflakes==3.2.0
Pygments==2.18.0
PyNaCl==1.5.0
pyserial==3.5
pyspnego==0.11.1
pyvim==3.0.3
pyvmomi==8.0.3.0.1
pywinrm==0.5.0
PyYAML==6.0.2
requests==2.32.3
requests_ntlm==1.3.0
resolvelib==1.0.1
scp==0.15.0
setuptools==75.1.0
six==1.16.0
stevedore==5.3.0
textfsm==1.1.3
urllib3==2.2.3
virtualenv==20.26.5
virtualenv-clone==0.5.7
virtualenvwrapper==6.1.0
wcwidth==0.2.13
xmltodict==0.13.0
