---

- name: Create address objects
  hosts: FIREWALL-1
  connection: local

  tasks:

  - name: Load address objects from JSON
    set_fact:
      address_list: "{{ lookup('file', source_files ~ '/PA-SOUTH_addresses_sanitized.json') | from_json }}"
    delegate_to: localhost

  - name: Create address objects
    paloaltonetworks.panos.panos_address_object:
      provider: "{{ provider }}"
      name: "{{ item.name }}"
      address_type: "{{ item.address_type }}"
      value: "{{ item.value }}"
      description: "{{ item.description }}"
      #tag: "{{ item.tag }}"
      state: "present"
    loop: "{{ address_list }}"

  - name: Commit changes
    paloaltonetworks.panos.panos_commit_firewall:
      provider: '{{ provider }}'
      admins: ['cvincent']
      description: 'imported address objects from JSON -cv'