---

- name: Populating address group
  hosts: FIREWALL-1
  connection: local

  tasks:

  - name: Import list
    read_csv:
      path: "{{ source_files }}/address_list.csv"
    register: address_list
    delegate_to: localhost

  - name: Create address group from objects
    paloaltonetworks.panos.panos_address_group:
      provider: "{{ provider }}"
      name: "{{ item.group_name }}"
      static_value: "{{ item.name }}"
      state: "{{ item.group_state }}"
    loop: "{{ address_list.list }}"

  - name: Commit changes
    paloaltonetworks.panos.panos_commit_firewall:
      provider: '{{ provider }}'
      admins: ['cvincent']
      description: 'add centegix address objects to groups -cv'
