hostname {{ inventory_hostname }}
logging {{ logging_server }} {{ logging_protocol}} {{ logging_port }}
logging severity {{ logging_severity }}
timesync ntp
ntp unicast
{% for ntp_server in ntp_servers %}
ntp server {{ ntp_server }}
{% endfor %}
ntp enable
time daylight-time-rule continental-us-and-canada
time timezone -300
{% for dns_server in dns_servers %}
ip dns server-address {{ dns_server }}
{% endfor %}
ip route 0.0.0.0 0.0.0.0 {{ default_gateway_ip }}
ip routing
{% for interface in interfaces %}
interface "{{ interfaces[interface].int }}"
   name "{{ interfaces[interface].name}}"
   exit
{% endfor %}
snmp-server community "public" unrestricted
{% for vlan in vlans %}
vlan {{ vlans[vlan].id }}
   name "{{ vlans[vlan].name }}"
{% if 'ip_addr' in vlans[vlan] %}
   ip address {{ vlans[vlan].ip_addr }} {{ vlans[vlan].subnet_mask }}
   ip address-helper {{ dhcp_server }}
{% else %}
   no ip address
{% endif %}
{% if 'tagged' in vlans[vlan] %}
   tagged {{ vlans[vlan].tagged }}
{% else %}
{% endif %}
{% if 'untagged' in vlans[vlan] %}
   untagged {{ vlans[vlan].untagged }}
{% else %}
{% endif %}
   exit
{% endfor %}
tftp server {{ tftp_server }}
no autorun
no dhcp config-file-update
no dhcp image-file-update
