{
  "value": "{{ {
    "access_rule": {
        "access_list_route": {
            "enable": false,
            "fromtoVersion": "10.2.0-10.7.2",
            "value": "",
            "version": "10.2.0.0-10.2.0",
            "warn_on_change": 1
        },
        "bandwidth_limit_down": {
            "enable": true,
            "fromtoVersion": "4.0.0-8.13.0",
            "value": "",
            "version": "6.3.1.2-4.0.0",
            "warn_on_change": 0
        },
        "bandwidth_limit_peruser_down": {
            "enable": true,
            "fromtoVersion": "4.0.0-8.13.0",
            "value": "",
            "version": "6.3.1.2-4.0.0",
            "warn_on_change": 0
        },
        "bandwidth_limit_peruser_up": {
            "enable": true,
            "fromtoVersion": "4.0.0-8.13.0",
            "value": "",
            "version": "6.3.1.2-4.0.0",
            "warn_on_change": 0
        },
        "bandwidth_limit_up": {
            "enable": true,
            "fromtoVersion": "4.0.0-8.13.0",
            "value": "",
            "version": "6.3.1.2-4.0.0",
            "warn_on_change": 0
        },
        "calea": {
            "enable": true,
            "fromtoVersion": "3.4.0-8.13.0",
            "value": false,
            "version": "6.2.1.0-3.4.0",
            "warn_on_change": 0
        },
        "captive": "",
        "captive_portal_profile": {
            "enable": true,
            "value": "",
            "version": "6.3.1.2-4.0.0",
            "warn_on_change": 0
        },
        "custom_url": {
            "index": {
                "enable": true,
                "fromtoVersion": "4.2.0-8.13.0",
                "value": "",
                "version": "6.4.3.1-4.2.0",
                "warn_on_change": 0
            },
            "url": {
                "enable": true,
                "fromtoVersion": "4.2.0-8.13.0",
                "value": "",
                "version": "6.4.3.1-4.2.0",
                "warn_on_change": 0
            }
        },
        "name": "guest",
        "overlay": {
            "enable": false,
            "fromtoVersion": "10.0.0-10.7.2",
            "value": false,
            "version": "10.0.0.0-10.0.0",
            "warn_on_change": 1
        },
        "platform_app_warning": false,
        "redirect_blocked_http_url": {
            "enable": true,
            "fromtoVersion": "4.3.0-8.13.0",
            "value": false,
            "version": "6.5.0.0-4.3.0",
            "warn_on_change": 0
        },
        "rules": [
            {
                "action": "allow",
                "app_rf_mv_info": {
                    "enable": true,
                    "fromtoVersion": "4.1.0-8.13.0",
                    "version": "6.4.0.2-4.1.0",
                    "warn_on_change": 0
                },
                "blacklist": false,
                "classify_media": false,
                "disable_scanning": false,
                "dot1p_priority": "",
                "eport": "any",
                "ipaddr": "any",
                "log": false,
                "match": "match",
                "nat_ip": "",
                "nat_port": 0,
                "netmask": "any",
                "protocol": "any",
                "protocol_id": "",
                "service_name": "",
                "service_type": "network",
                "source": {
                    "enable": true,
                    "value": "default",
                    "version": "6.4.4.4-4.2.3",
                    "warn_on_change": 0
                },
                "sport": "any",
                "throttle_downstream": "",
                "throttle_upstream": "",
                "time_range": "",
                "tos": "",
                "vlan": {
                    "enable": true,
                    "value": 0,
                    "version": "6.4.4.4-4.2.3",
                    "warn_on_change": 0
                }
            }
        ],
        "used_in_networks": [
            {
                "name": "guest",
                "type": "wlan"
            }
        ],
        "vlan": ""
    },
    "wlan": {
        "a_max_tx_rate": "54",
        "a_min_tx_rate": "6",
        "access_type": "unrestricted",
        "accounting_server1": "",
        "accounting_server2": "",
        "air_time_limit": "",
        "air_time_limit_cb": false,
        "auth_cache_timeout": 24,
        "auth_req_threshold": 0,
        "auth_server1": "InternalServer",
        "auth_server2": "",
        "auth_survivability": false,
        "bandwidth_limit": "",
        "bandwidth_limit_cb": false,
        "blacklist": true,
        "broadcast_filter": "arp",
        "called_station_id_deli": "",
        "called_station_id_incl_ssid": false,
        "called_station_id_type": "macaddr",
        "captive_exclude": [],
        "captive_portal": "disable",
        "captive_portal_proxy_ip": "",
        "captive_portal_proxy_port": "",
        "captive_profile_name": "",
        "cloud_guest": false,
        "cluster_name": "",
        "content_filtering": false,
        "deny_intra_vlan_traffic": false,
        "disable_ssid": false,
        "dmo_channel_util_threshold": 90,
        "dot11k": false,
        "dot11r": false,
        "dot11v": false,
        "download_role": false,
        "dtim_period": 1,
        "dynamic_multicast_optimization": false,
        "dynamic_vlans": [],
        "enforce_dhcp": false,
        "enforce_pan": false,
        "essid": wlan.ssid,
        "explicit_ageout_client": false,
        "forward_mode": "bridge",
        "g_max_tx_rate": "54",
        "g_min_tx_rate": "1",
        "gw_profile_name": "",
        "hide_ssid": false,
        "high_efficiency_disable": true,
        "high_throughput_disable": true,
        "hotspot_profile": "",
        "inactivity_timeout": 1000,
        "l2_auth_failthrough": false,
        "l2switch_mode": false,
        "leap_use_session_key": false,
        "local_probe_req_threshold": 0,
        "mac_authentication": false,
        "mac_authentication_delimiter": "",
        "mac_authentication_upper_case": false,
        "management_frame_protection": false,
        "max_auth_failures": 0,
        "max_clients_threshold": 64,
        "multicast_rate_optimization": false,
        "multilink_operation_enable": false,
        "name": wlan.ssid,
        "okc": false,
        "oos_def": "vpn-down",
        "oos_name": "none",
        "oos_time": 30,
        "opmode": "enhanced-open",
        "opmode_transition_disable": true,
        "per_user_limit": "",
        "per_user_limit_cb": false,
        "priority_use_local_cache_auth": false,
        "radius_accounting": false,
        "radius_accounting_mode": "user-authentication",
        "radius_interim_accounting_interval": 0,
        "reauth_interval": 0,
        "reconnect_client_on_failover": false,
        "rf_band": "all",
        "roles": [],
        "server_group": "",
        "server_load_balancing": false,
        "set_role_mac_auth": "",
        "set_role_machine_auth_machine_only": "",
        "set_role_machine_auth_user_only": "",
        "set_role_pre_auth": "",
        "ssid_encoding": "utf8",
        "strict_svp": false,
        "termination": false,
        "time_range_profiles_status": [],
        "tspec": false,
        "tspec_bandwidth": 2000,
        "type": "employee",
        "use_ip_for_calling_station": false,
        "user_bridging": false,
        "very_high_throughput_disable": true,
        "vlan": wlan.vlan,
        "wep_index": 0,
        "wep_key": "",
        "wispr": false,
        "wmm_background_dscp": "",
        "wmm_background_share": 0,
        "wmm_best_effort_dscp": "",
        "wmm_best_effort_share": 0,
        "wmm_uapsd": true,
        "wmm_video_dscp": "",
        "wmm_video_share": 0,
        "wmm_voice_dscp": "",
        "wmm_voice_share": 0,
        "work_without_uplink": false,
        "wpa_passphrase": "",
        "zone": ""
        }
    } | to_json | replace('"', '\\"') }}"
}